html {
    scroll-behavior: smooth;
}

.header-section {
    position: relative;
    height: calc(100vh + 0px);
}
.imagebg {
    height: 77%;
    margin-top: 6%;
}
.navigation {
    position: fixed;
}

@media (min-width: 992px){
.is-home-page .navigation {
    top: 0 !important;
 
}
}
.sliderA .slide1, .sliderA .slide2, .sliderA .slide3 {
    position: absolute;
    width: 100%;
    height: 302px;
    top: -45px;
    display: none;
}

.basr-social-share {
    position: absolute;
    top: 14%;
    right: -13%;
}
.about-section {
background-image: linear-gradient(154deg, #2c1806 0%, #000000 77%);
}

.bg-r {
   margin-top: 35%;
   /* margin-bottom: 30px; */
   height: 450px;
   background-image: linear-gradient(315deg, #221102 0%, #000000 77%);
}

svg{position: absolute;}
svg path{
    fill:#000 !important
}
#twitter-widget-0,
.insta iframe{
    height:390px !important
}
video {
    height: 290px !important;
}
@media (min-width: 992px){
.content-general-news {
    width: 490px;
    height: 285px;
}
}
.footer-section {
    background-image: linear-gradient(293deg, #363030 0%, #090501 100%) !important;
}



.demo a {
  position: absolute;
  bottom: 15px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.demo a:hover {
  opacity: .5;
}



#btnDwon a {
  padding-top: 60px;
}
#btnDwon a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 1px solid #fff;
  border-radius: 100%;
  box-sizing: border-box;
}
#btnDwon a span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}
#btnDwon a span::before,
.default__button--big::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: '';
  width: 44px;
  height: 44px;
  box-shadow: 0 0 0 0 rgba(255,255,255,.1);
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: sdb03 3s infinite;
  animation: sdb03 3s infinite;
  box-sizing: border-box;
}
.default__button--big::before {
  top: 11px;
}
@-webkit-keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255,255,255,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* *************************************************************************** */
/* *************************************************************************** */
/* *************************************************************************** */

/* For index 3 */

.intro-video{
  position: absolute;
  top: 29%;
  left: 50%;
  transform: translate(-50%,-50%);

}

.intro-video img{
  position: absolute;
  top: 0;
  left: 0;
}
.ckin__player.default {
  border-radius: unset;
  margin: 0px;
  padding: 10px;
  box-shadow: unset

}
video {
  height: 358px !important;
  margin-top: 4px;
  border-radius: unset;
  box-shadow: unset;
}
.owl-theme .owl-dots{left: 0;}
.about-section{
background-color: #000000;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg fill-opacity='0.6'%3E%3Ccircle fill='%23000000' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%230c0a03' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%23141206' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%231b1808' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%23201d0b' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%2326230d' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
background-color: #0f0000;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%231a1a03'/%3E%3Cstop offset='1' stop-color='%230f0000'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FA3' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FA3' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}