@import url("https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/fonts/themify.eot");
@import url("https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/fonts/themify.svg");
@import url("https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/fonts/themify.ttf");
@import url("https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/fonts/themify.woff");

.great-presentation .obras-section .album-wrap {
    position: relative;
    box-shadow: 0 0 7px 2px #666;

}
.great-presentation .obras-section .titlebar {
    bottom: 14%;
    right: -11%;
    background: #f6d46c;
}
.great-presentation .obras-section .album-wrap:hover{
    transform: translateY(-3px);
    box-shadow: 0 0 7px 2px #888;
}

/* ***curriculam */





/* *** prensa page */
.stats-content{
    margin-top: 80px;
}

.statistics-section .box {
    box-shadow: 0 0 6px 2px #ddd;
}

@media (min-width: 1000px) { 
    .statistics-section{
        height: calc(100vh - 230px);
    }
}

/* contacto page */